<form [formGroup]="form">
    <div class="form-group">
        <label for="exampleInputName">Nome</label>
        <input type="text" list="suggested-user-list" class="form-control" id="exampleInputName" placeholder="Digite o nome" formControlName="NOME" name="NOME"  >
        <app-message [control]="forms.NOME"></app-message>
        <datalist id="suggested-user-list">
            <option *ngFor="let user of suggestedUserList" value="{{ user }}"></option>
        </datalist>
    </div>
    <div class="form-group">
        <label for="cpfInput">CPF</label>
        <input type="text" class="form-control" id="cpfInput" placeholder="Digite o CPF" formControlName="CPF" name="CPF"  >
        <app-message [control]="forms.CPF"></app-message>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">E-mail</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Informe o e-mail" formControlName="EMAIL">
        <app-message [control]="forms.EMAIL"></app-message>
    </div>
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" formControlName="WANT_INFO">
        <label class="form-check-label" for="exampleCheck1">Quero ser informado</label>
    </div>
    <div class="row">
        <div class="col-11">
            <button type="button" class="btn btn-primary" [disabled]="form.invalid" (click)="save()">Salvar</button>
        </div>
        <div class="col-1">
            <button type="button" class="btn" (click)="remove()"><i class="bi bi-trash"></i></button>
        </div>
    </div>
</form>