<form [formGroup]="form">
    <div class="form-group">
        <label for="exampleInputName">Nome</label>
        <input type="text" list="suggested-user-list" class="form-control" [ngClass]="{'alert-error': form.controls.NOME.errors}" id="exampleInputName" placeholder="Digite o nome" formControlName="NOME" >
        <span class="alert-error" *ngIf="form.controls.NOME.errors">Campo é obrigatório</span>
        <datalist id="suggested-user-list">
            <option *ngFor="let user of suggestedUserList" value="{{ user }}"></option>
        </datalist>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">E-mail</label>
        <input type="email" class="form-control" id="exampleInputEmail1" [ngClass]="{'alert-error': form.controls.EMAIL.errors}" aria-describedby="emailHelp" placeholder="Informe o e-mail" formControlName="EMAIL">
        <span class="alert-error" *ngIf="form.controls.EMAIL.errors">Campo é obrigatório</span>
    </div>
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" formControlName="WANT_INFO">
        <label class="form-check-label" for="exampleCheck1">Quero ser informado</label>
    </div>
    <div class="row">
        <div class="col-11">
            <button type="button" class="btn btn-primary" [disabled]="form.invalid" (click)="save()">Salvar</button>
        </div>
        <div class="col-1">
            <button type="button" class="btn" (click)="remove()"><i class="bi bi-trash"></i></button>
        </div>
    </div>
</form>