.alert-error {
    color: red;
    border: solid 1px red;
}

span.alert-error {
    font-size: 11px;
    border: none;
}

.form-control.ng-invalid.ng-touched {
    color: red;
    border: solid 1px red;
}