<form [formGroup]="form">
    <div class="form-group">
        <label for="exampleInputName">Nome</label>
        <input type="text" list="suggested-user-list" class="form-control" id="exampleInputName" placeholder="Digite o nome" formControlName="NOME" >

        <datalist id="suggested-user-list">
            <option *ngFor="let user of suggestedUserList" value="{{ user }}"></option>
        </datalist>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">E-mail</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Informe o e-mail" formControlName="EMAIL">
    </div>
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1" formControlName="WANT_INFO">
        <label class="form-check-label" for="exampleCheck1">Quero ser informado</label>
    </div>
    <button type="button" class="btn btn-primary" [disabled]="form.invalid" (click)="save()">Salvar</button>
</form>